    <div class="rightPanel column">
      <div style="position: relative;">
        <img src="/images/lavaLampBody/yellowOrange.png" alt="Test Image" style="position: absolute; top: 0; left: 0;">
        <img src="/images/lavaLampBase/white.png" alt="Test Image" style="position: relative;">
      </div>
    </div>